<tr>
  	<td><a target="_blank" rel="nofollow" href="{{ miner.buyurl }}"><img src="{{ miner.img }}" alt="{{ miner.name }}"></a></td>
   
    <td>
    {% if miner.pro1 %}
    	<a href="{{ miner.permalink }}">
    {% else %}
    	<a target="_blank" rel="nofollow" href="{{ miner.buyurl }}">
    {% endif %}
    {{ miner.miner_name }}
    </a>
    </td>
    
    <td>{{ miner.hashp }}</td>
       
    <td class="miner-price">{{ miner.price }}</td>
    
    <td class="miner-buy"><a target="_blank" class="btn btn-primary" rel="nofollow" href="{{ miner.buyurl }}" type="button"><i class="fa fa-shopping-cart "></i></a></td>
</tr>