
<script> 
    $(document).ready(function(){
        console.log("working")
        
        changeUrlBasedOnCountry()
            // changeUrlBasedOnCountry()
            // $('.antminers7').attr('<href>')
    })
    // function getCountryWithIp() {
function changeUrlBasedOnCountry() {
    $.ajax({

        url: 'http://cors.io/?http://ip-api.com/json',
        success: function(data) {
            var dataToParse = JSON.parse(data)

            var country = data.country
            switch (country) {
                //Done for US
                case "United States":
                    // console.log(true)
                    // $('.antminers7').attr("href" , "http://rover.ebay.com/rover/1/" + unitedStatesCountryCode + "/1?icep_ff3=9&pub=5574973039&toolid=10001&campid=5337804714&customid=&icep_uq=antminer+s7&icep_sellerId=&icep_ex_kw=&icep_sortBy=12&icep_catId=&icep_minPrice=&icep_maxPrice=&ipn=psmain&icep&kwid=902099&mtid=824&kw=lg")
                    $('.tableMiners').attr("href", "{{miner.usUrl}}")
                    console.log("here")
                    
                    break;
                case "Australia":
                    $('.tableMiners').attr("href", "{{miner.auUrl}}")
                    
                    
                    break;
                case "Belgium":
                $('.tableMiners').attr("href", "{{miner.beUrl}}")
                    
                    
                    break;
                case "Canada":
                $('.tableMiners').attr("href", "{{miner.caUrl}}")
                    
                    
                    break;
                case "Spain":
                $('.tableMiners').attr("href", "{{miner.spUrl}}")
                    
                    
                    break;
                case "France":
                $('.tableMiners').attr("href", "{{miner.frUrl}}")
                    
                    
                    break;
                case "Italy":
                $('.tableMiners').attr("href", "{{miner.itUrl}}")
                    
                    
                    break;
                case "United Kingdom":
                $('.tableMiners').attr("href", "{{miner.ukUrl}}")
                    
                    
                    break;
                
                case "Germany":
                $('.tableMiners').attr("href", "{{miner.geUrl}}")
                    
                    
                    break;
           
                default:
                $('.tableMiners').attr("href", "{{miner.usUrl}}")
            }
        }
    })
}

</script>
<tr>

    <!-- ebay image link -->
  	<td><a target="_blank" rel="nofollow" class="tableMiners" ><img src="{{ miner.img }}" alt="{{ miner.name }}"></a></td>
   
   <!-- miner column -->
    <td>
    {% if miner.pro1 %}
    	<a href="{{ miner.permalink }}">
    {% else %}
    	<a target="_blank" class="tableMiners" rel="nofollow" >
    {% endif %}
    {{ miner.miner_name }}
    </a>
    </td>
    


    <td>{{ miner.hashp }}</td>
       
    <td class="miner-price">{{ miner.price }}</td>
    
    <td class="miner-buy"><a target="_blank" class="btn btn-primary tableMiners" rel="nofollow" type="button"><i class="fa fa-shopping-cart "></i></a></td>
</tr>