---
title: "Bitcoin Mining Hardware ASICs and Rigs"
permalink: "/mining-hardware/"
seotitle: "5 Best Bitcoin Mining Hardware ASICs 2016 (Comparison)"
layout: page
desc: Quickly learn where to buy the best Bitcoin mining hardware ASICs using this comparison chart.
---
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.js"></script>
<script type="text/javascript" src="script.js"></script>

<div class="test">
  
</div>

<p>Hobby Bitcoin mining can still be fun and even profitable if you have cheap electricity, an efficient bitcoin mining machine, and get the best Bitcoin mining hardware.</p>
<h2 id="bitcoin-mining-hardware-comparison">Bitcoin Mining Hardware Comparison</h2>
<table class="m-comparison">
  <tr>
    <th></th>
    <th>
Miner
</th>
    <th>
Hash Power<br>
</th>
    <th class="miner-price">
Price
</th>
    <th class="miner-buy">
Buy
</th>
  </tr>
  
{% for miner in site.pages %} {% if miner.pro1 %} {% include compare.html %} {% endif %} {% endfor %}
</table>

<p>Not included in the table is <a href="/bitmain-antminer-r4/">Bitmain's Antminer R4</a>, which is targeted at users who mine bitcoins at home.</p>
<h2 id="what-is-an-asic-bitcoin-miner">What is an ASIC Bitcoin Miner?</h2>
<p>Since it's now impossible to profitably mine Bitcoin with your computer, you'll need specialized hardware called ASICs.</p>
<p>Originally, Satoshi intended for Bitcoin to be mined on computer CPUs. However, Bitcoin miners discovered they could get more hashing power from graphic cards. Graphic cards were then surpassed by ASICs (<a href="https://en.wikipedia.org/wiki/Application-specific_integrated_circuit">Application Specific Integrated Circuits</a>).</p>
<p>Nowadays all serious Bitcoin mining is performed on dedicated Bitcoin mining hardware ASICs, usually in thermally-regulated data-centers with access to low-cost electricity. Think of a Bitcoin ASIC as specialized Bitcoin mining computers, Bitcoin mining machines, or &quot;bitcoin generators&quot;.</p>
<h2 id="how-to-find-the-best-bitcoin-miner">How to Find the Best Bitcoin Miner</h2>
<p>There are some important factors to look at when determining which Bitcoin mining ASIC to buy:</p>
<p><strong>Hash rate</strong> - How many hashes per second can the Bitcoin miner make? More hashes cost more, which is why efficiency is crucial...</p>
<p><strong>Efficiency</strong> - You'll want to buy the most efficient bitcoin mining hardware possible. Since miners use a large amount of electricity, you want to buy one that converts the most amount of electricity into bitcoins.</p>
<p><strong>Price</strong> - How much does the bitcoin miner cost? Cheap mining hardware will mine less bitcoins, which is why efficiency and electricity usage are important. The fastest and more effecient mining hardware is going to cost more.</p>
<p>Don't try to buy a miner based on only price or only hash rate. The best ASIC miner is the most effecient bitcoin miner. Aim for value.</p>
<h2 id="bitcoin-miners-for-sale-on-ebay">Bitcoin Miners for Sale on eBay</h2>
<p>If you're a hobby miner who wants to buy a couple rigs for your house, eBay has some decent deals on mining hardware.</p>
<table class="m-comparison">
  <tr>
    <th></th>
    <th>
Miner
</th>
    <th>
Hash Power<br>
</th>
    <th class="miner-price">
Price
</th>
    <th class="miner-buy">
Buy
</th>
  </tr>
  
{% for miner in site.pages %} {% if miner.pro1 %} {% include compare.html %} {% endif %} {% endfor %}
</table> 

<h2 id="used-bitcoin-mining-hardware-for-sale">Used Bitcoin Mining Hardware for Sale</h2>
<p>Both new and used bitcoin mining rigs and ASICs are available on eBay. One may want to buy used ASIC mining hardware on eBay because you can get better prices. eBay's customer protection ensures you'll get a working product. Other bundled equipment may be included with your purchase depending on the seller.</p>
<p>We recommend purchasing the 
<a rel="nofollow" class="antminers7" target="_self">Antminer S7</a> or the <a rel="nofollow" class="spondoolies" target="_self" >Spondoolies-Tech SP20</a>.
</p>
<h2 id="hardware-profitability">Hardware Profitability</h2>
<p>You can use a bitcoin mining <a href="http://www.coinwarz.com/calculators/bitcoin-mining-calculator">profitability calculator</a> to determine your estimated cost of return on your mining hardware.</p>
<p>Be sure to take electricity costs into account. Most mining hardware appears profitable until electricity costs are accounted for.</p>
<h2 id="most-efficient-bitcoin-miners">Most Efficient Bitcoin Miners</h2>
<p>Good Bitcoin mining hardware needs to have a high hash rate. But, efficiency is just as important.</p>
<p>An efficient Bitcoin miner means that you pay less in electricity costs per hash.</p>
<p>The miners in the table below are currently the most efficient Bitcoin miners on the market.</p>
<table class="m-comparison">
  <tr>
    <th></th>
    <th>
Miner
</th>
    <th>
Hash Power<br>
</th>
    <th class="miner-price">
Price
</th>
    <th class="miner-buy">
Buy
</th>
  </tr>
  
{% for miner in site.pages %} {% if miner.tags contains 'efficient' %} {% include compare.html %} {% endif %} {% endfor %}
</table>

<p>The <a class="avalon6" href=>Avalon6</a> gets 0.29 Watts/GH, but costs more than $200 more than the Antminer S7.</p>
<p>The Antminer S7 is more efficient, with 0.25 Watts/GH. The Antminer S7 also costs much less, and comes with 4.5 TH/s of hash power compared to the Avalon6's 3.50 TH/s.</p>
<p>The <a class=antminers7>AntMiner S7</a> is clearly the better option between these two miners, which are currently the most efficient miners available for purchase.</p>
<p>To improve your efficiency, there are also companies that will let you order hardware to their warehouse and run the miners for you. You could also <a href="/bitcoin-cloud-mining/">cloud mine bitcoins</a>. But both options are a lot less fun than running your hardware!</p>
<h2 id="bitcoin-mining-hardware-companies">Bitcoin Mining Hardware Companies</h2>
<p><strong><a href="https://www.bitmaintech.com/product.htm">Bitmain</a></strong> - Bitmain makes the Antminer line of Bitcoin miners. Bitmain is based in China and also operates a mining pool.</p>
<p><strong><a href="http://www.bitfury.org/">BitFury</a></strong> - BitFury is one of the largest producers of Bitcoin mining hardware and chips. Its hardware is not available for purchase.</p>
<p><strong><a href="http://www.spondoolies-tech.com/">Spondoolies Tech</a></strong> - Spondoolies Tech is an Israeli based mining hardware manufacturer.</p>
<h2 id="bitcoin-mining-equipment">Bitcoin Mining Equipment</h2>
<p>In addition to a Bitcoin mining ASIC, you'll need some other Bitcoin mining equipment:</p>
<p><strong>Power Supply</strong> - Bitcoin rigs need special power supplies to funnel and use electricity efficiently.</p>
<p><strong><a class="coolingFans">Cooling Fans</a></strong> - Bitcoin hardware can easily overheat and stop working. Buy a sufficient amount of cooling fans to keep your hardware working.</p>
<p>You can find <a class="bitcoinMiningSupplies" rel="nofollow" target="_self">Bitcoin mining equipment for sale on eBay</a>.</p>
<h2 id="bitcoin-mining-without-hardware">Bitcoin Mining Without Hardware?</h2>
<p>It's still technically possible to mine bitcoins without dedicated mining hardware. However, you'll earn less than one penny per month. Mining bitcoins on your computer will do more damage to your computer and won't earn a profit. So, it's not worth it unless you're just interested to see how the mining process works. You're best bet is to buy dedicated hardware like the Antminer S7 or <a href="https://milli.io/antminer-s9-review/">Antminer S9</a>.</p>
<h2 id="usb-bitcoin-miners">USB Bitcoin Miners</h2>
<p>Using a <a href="/usb-bitcoin-miners/">Bitcoin USB miner</a> with your computer was once a profitable way to mine bitcoins. Today, however, USB miners don't generate enough hashing power to mine profitably. If you just want to get a Bitcoin miner USB to learn, a USB <a rel="nofollow" target="_self">eBay</a> is a good place to buy a cheap Bitcoin miner.</p>
<h2 id="buying-bitcoins">Buying Bitcoins</h2>
<p>In general, it's important to remember that Bitcoin mining is competitive and today is not a good idea for the average person. If you just want bitcoins then you are better of <a href="https://www.buybitcoinworldwide.com/">buying bitcoins</a>.</p>